# Getting started: Coding with Help from AI
  
**Tools used: Jupyter Notebook + ChatGPT (or another LLM assistant, the free version is fine!)**

## 1. Where am I?

You're in a Jupyter notebook. This is an interactive environment where you can run small snippets of a programming language called **python**

- The notebook is built from text blocks and code blocks. You can click into them to edit the text.
- To run some code, paste it into the code block. Then press shift + enter and the notebook will execute it for you

Today, you’ll be asking an LLM to help you explore what's known as "vibecoding" (yuck).

## 2. Inputs and Outputs: Printing a Message

Lines of code are instructions you're feeding to the computer.  
In the box below, you can execute the code to print "Hello World" out on the screen using Python. Click into the box, then press shift + enter

In [ ]:
print("Hello world")

## 3. What time is it

Python is an incredible tool for a massive range of tasks. You can **import** tools from a wide range of **libraries** to help with this

In [ ]:
# In code blocks text preceeded by a hash is "commented out", so the computer doesn't try to execute it as code

# Ask ChatGPT, how can I tell the time using python? Paste the code here


#What about building a real-time clock you can read out of a Jupyter notebook?

<details>
<summary>Click to reveal the answer</summary>

```python
from datetime import datetime

# Get current date and time
now = datetime.now()

# Print just the time
print("Current time:", now.strftime("%H:%M:%S"))

## 4. Data

One of the most exciting features of Python is how it handles Data. I usually think of it as super-excel! I've loaded a list of books below into a **dataframe**. Don't worry about what this is - for the time being you can refer to it as df

In [1]:
import pandas as pd

# Load the data
df = pd.read_csv("classic_books.csv")

# Display the data
df.head()  # Show just the first 5 rows

                   title               isbn          author    pub-date
0         Mansfield Park  978-1-4032-9211-7     Jane Austen  31/01/2001
1       Northanger Abbey  978-1-238-18236-2     Jane Austen  23/06/1966
2      Wuthering Heights  978-0-564-69335-1    Emily Brontë  03/11/1928
3         The Two Towers  978-0-943567-71-6  J.R.R. Tolkien  18/02/1947
4  Sense and Sensibility  978-1-373-37212-3     Jane Austen  31/10/1978

In [ ]:
# Try askign chatgpt how to search how many books there are by Jane Austen (tip: you're searching a pandas dataframe)



# Some of the records have errors in - try asking ChatGPT how to account for this in your previous search

## 5. Conclusion: What Did the LLM Help You Do?

LLMs are incredibly good at writing code.
- What was one thing the LLM helped you with?
- Did anything surprise you about using it?